<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{{ getEnv('CROSIERCORE_URL') }}/build/static/images/favicon.ico"/>

    <script>
        // window.paceOptions = {
        //     ajax: {
        //         trackMethods: [],
        //         ignoreURLs: ['getNewMessages', 'api*']
        //     },
        //     document: true,
        //     eventLag: true
        // };
    </script>

    <script src="{{ getEnv('CROSIERCORE_URL') }}/build/static/pace.min.js"></script>

    <link href="{{ getEnv('CROSIERCORE_URL') }}/build/static/pace-theme-minimal.css" rel="stylesheet"/>

    <title>{{ page_title is defined and page_title != '' ? page_title ~ ' - Crosier' : 'Crosier' }} </title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">

        {{ renderCrosierWebpackLinkTags('crosier/layout') }}
    {% endblock %}

    {% block up_scripts %}
    {% endblock %}
</head>

<body class="c-app">




{% block body %}
{% endblock %}


{{ include('@CrosierLibBase/Util/flashes.html.twig') }}
{{ include('@CrosierLibBase/Util/confirmationModal.html.twig') }}

</body>


<script src="{{ crosierAsset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.0.5/es6-promise.auto.min.js"></script>

{{ renderCrosierWebpackScriptTags('crosier/layout') }}

{% block down_scripts %}
{% endblock %}

</html>
