<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{{ getEnv('CROSIERCORE_URL') }}/build/static/images/favicon.ico"/>


    <script src="{{ asset('build/runtime.js') }}"></script>

    <script>

        window.paceOptions = {
            ajax: {
                trackMethods: ['GET', 'POST', 'DELETE', 'PUT', 'PATCH']
            },
            document: true,
            eventLag: true
        };
    </script>

    <script src="{{ getEnv('CROSIERCORE_URL') }}/build/static/pace.min.js"></script>

    <script>


    </script>
    <link href="{{ getEnv('CROSIERCORE_URL') }}/build/static/pace-theme-loading-bar.css" rel="stylesheet"/>

    <title>{{ page_title is defined ? page_title ~ ' - Crosier v.0.0.1' : 'Crosier v.0.0.1' }} </title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
        <link rel="stylesheet" href="{{ crosierAsset('build/crosier/layout.css') }}">

    {% endblock %}

    {% block up_scripts %}


    {% endblock %}

</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">

<div id="blurriers" style="filter: blur(2px) grayscale(2)">
    {% block body %}
    {% endblock %}
</div>

{{ include('@CrosierLibBase/Util/flashes.html.twig') }}



{{ include('@CrosierLibBase/Util/confirmationModal.html.twig') }}


</body>


<script src="{{ crosierAsset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.0.5/es6-promise.auto.min.js"></script>
<script src="{{ crosierAsset('build/crosier/layout.js') }}"></script>

{% block down_scripts %}
{% endblock %}

</html>
