{% extends '@CrosierLibBase/index.html.twig' %}


{% block page_content %}


    <div class="container" style="margin-bottom: 50px">
        <div class="card">
            <div class="card-header">

                <div class="row">
                    <div class="col-8">
                        {% if formPageTitle is defined %}
                            <h3>{{ formPageTitle }}</h3>
                        {% endif %}
                        {% if formPageSubTitle is defined %}
                            <h6>{{ formPageSubTitle }}</h6>
                        {% endif %}
                    </div>
                    <div class="col-4 text-right">

                        {% block btns %}

                            <button type="button" class="btn btn-primary"
                                    onclick="window.location.href='{{ url(formRoute, formRouteParams|default([])) }}'">
                                <i class="fas fa-file" aria-hidden="true"></i> Novo
                            </button>
                            {% if listRoute is defined %}
                                <button type="button" class="btn btn-secondary"
                                        onclick="window.location.href='{{ url(listRoute) }}'">
                                    <i class="fas fa-list"></i> Listar
                                </button>
                            {% endif %}

                        {% endblock %}

                    </div>
                </div>

            </div>

            <div class="card-body">

                {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

                {{ form_start(form) }}
                {{ form_widget(form) }}

                <div class="row">
                    <div class="col text-right">
                        <button type="submit" class="btn btn-primary" value="Salvar">
                            <i class="fas fa-save" aria-hidden="true"></i> Salvar
                        </button>
                    </div>
                </div>


                {{ form_end(form) }}


            </div>
        </div>
    </div>


{% endblock %}


{% block down_scripts %}
    {% if formJS is defined %}
        <script src="{{ asset('build/' ~ formJS) }}"></script>
    {% endif %}
{% endblock %}
