{% extends '@CrosierLibBase/base.html.twig' %}


{% block body %}






    {{ include('@CrosierLibBase/header.html.twig') }}

    <div class="app-body blurriers" style="filter: blur(2px) grayscale(2)">

        {{ include('@CrosierLibBase/menuLateral.html.twig') }}

        <main class="main">
            <div id="crosierCoreUrl" data-value="{{ getEnv('CROSIERCORE_URL') }}"></div>

            {% block page_content %}

            {% endblock %}


            <div id="ulid" data-value="{{ app.user.id|default('') }}"></div>
            <div id="at" data-value="{{ app.user.apiToken }}"></div>
        </main>


    </div>
    {{ include('@CrosierLibBase/footer.html.twig') }}


{% endblock %}