{% extends '@CrosierLibBase/base.html.twig' %}


{% block body %}


    <div id="preloader"
         style="display: none; position: fixed; left: 0; top: 0; z-index: 1999; width: 100%; height: 100%; overflow: visible; background:rgba(255,255,255,0.5);"></div>



        {{ include('@CrosierLibBase/header.html.twig') }}

        <div class="app-body blur-on-pace">

            {{ include('@CrosierLibBase/menuLateral.html.twig') }}

            <main class="main">
                <div id="ulid" data-value="{{ app.user.id|default('') }}">

                {% block page_content %}

                {% endblock %}

                    <div id="hubUrl" data-value="{{ getEnv('MERCURE_PUBLISH_URL') }}">

            </main>


        </div>
        {{ include('@CrosierLibBase/footer.html.twig') }}













{% endblock %}