{% extends '@CrosierLibBase/index.html.twig' %}



{% block page_content %}


    <div class="card" style="margin-bottom: 50px;">
        <div class="card-header">

            <div class="d-flex flex-wrap align-items-center">

                <div class="mr-1">
                    {% if page_title is defined %}
                        <h3>{{ page_title }}</h3>
                    {% endif %}
                    {% if page_subTitle is defined %}
                        <h6>{{ page_subTitle }}</h6>
                    {% endif %}
                </div>

                <div class="d-sm-flex flex-nowrap ml-auto">

                    {% block btns %}

                        {% if formRoute is defined %}
                            <a role="button" class="btn btn-primary ml-1" title="Novo" href="{{ url(formRoute) }}">
                                <i class="fas fa-file" aria-hidden="true"></i>
                            </a>
                        {% endif %}
                        {% if formUrl is defined %}
                            <a role="button" class="btn btn-primary ml-1" title="Novo"
                               href="{{ formUrl }}">
                                <i class="fas fa-file" aria-hidden="true"></i>
                            </a>
                        {% endif %}
                        <button type="button" class="btn btn-secondary ml-1"
                                title="Pesquisar"
                                data-target="#pesquisarModal" data-toggle="modal">
                            <i class="fas fa-search" aria-hidden="true"></i>
                        </button>
                        {% set listRouteParamsRecarregar = {'r':'1'}|merge(routeParams|default([])) %}
                        <button type="button" class="btn btn-info ml-1"
                                title="Recarregar"
                                onclick="window.location.href='{{ url(listRoute,listRouteParamsRecarregar) }}'">
                            <i class="fas fa-sync" aria-hidden="true"></i>
                        </button>

                    {% endblock %}

                </div>
            </div>
        </div>

        <div class="card-body">

            <div class="row">
                <div class="col">
                    {% include '@CrosierLibBase/Util/flashesOnAlerts.html.twig' %}
                </div>
            </div>

            <div class="table-responsive-sm">

                <form name="form_{{ listId }}" id="form_{{ listId }}">
                    <table class="table table-striped table-hover crsr-datatable display compact" id="{{ listId }}"
                           data-listajaxurl="{{ url(listRouteAjax) }}"
                           data-routeedit="{{ formRouteEdit is defined ? formRouteEdit : (formRoute is defined ? formRoute : '') }}"
                           data-routedelete="{{ (deleteRoute is defined) ? deleteRoute : '' }}"
                           data-crsf-token-delete="{{ csrf_token('delete') }}">
                    </table>
                </form>

            </div>

            {% block aposTabela %}
            {% endblock %}

        </div>
    </div>


    <div class="modal fade" id="pesquisarModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form action="{{ url(listRoute,routeParams|default([])) }}" method="get" id="formPesquisar">
                    <div class="modal-body">

                        <h5 class="modal-header">Pesquisar por...</h5>

                        <div class="card">
                            <div class="card-body">

                                <div class="form-group">

                                    {% block campos_pesquisar %}

                                        {% if filterInputs is defined %}

                                            {% for filterInput in filterInputs %}

                                                {{ buildRowInput(filterInput.label, filterInput.inputName, filterInput.type, filter[filterInput.inputName]|default({}), filterInput.config|default([])|merge({'arrayField': 'filter'})) }}


                                            {% endfor %}

                                        {% else %}

                                            <label for="p_filter_str"></label>
                                            <input type="text"
                                                   class="form-control" id="filter[str]"
                                                   name="filter[str]"
                                                   value="{{ filter.str|default('') }}">


                                        {% endif %}

                                    {% endblock %}

                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger"
                                id="btnCancelarPesquisa" data-dismiss="modal">
                            <i class="fa fa-ban" aria-hidden="true"></i> Cancelar
                        </button>
                        <button type="submit" class="btn btn-success" id="btnPesquisar">
                            <i class="fas fa-search"></i> Pesquisar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <span id="listAuxDatas" data-json="{{ listAuxDatas|default('') }}"></span>


{% endblock %}



{% block down_scripts %}
    {% if listJS is defined %}
        {{ encore_entry_script_tags(listJS|replace({'.js': ''})) }}
    {% endif %}
{% endblock %}