<div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
    <div class="c-sidebar-brand">
        <a class="c-sidebar-brand-full" href="{{ getEnv('CROSIERCORE_URL') }}">
            <img src="{{ getEnv('CROSIER_LOGO') }}" width="160" height="36">
        </a>
        <a class="c-sidebar-brand-minimized" href="{{ getEnv('CROSIERCORE_URL') }}">
            <img src="{{ getEnv('CROSIER_LOGO') }}" width="46">
        </a>
    </div>


    <ul class="c-sidebar-nav">


        {% for ent in menu %}

            {% if ent.tipo == 'ENT' %}
                <li class="c-sidebar-nav-item menuLateral-ent-pai" style="{{ ent.cssStyle != null ? ent.cssStyle : '' }};">
                    <a class="c-sidebar-nav-link" href="{{ ent.url is defined ? ent.url : '' }}" style="white-space: normal">
                        <i class="c-sidebar-nav-icon {{ ent.icon }}"></i>{{ ent.label }}</a></li>

            {% elseif ent.tipo == 'hr' %}
                <li class="c-sidebar-nav-item" style="height: 10px; background-color: white">
                    <hr/>
                </li>

            {% elseif ent.tipo == 'TITLE' %}
                <li class="c-sidebar-nav-title" style="margin-top: 0; padding: 0.3rem 0.3rem 0.3rem 1rem; {{ ent.cssStyle != null ? ent.cssStyle : '' }}">{{ ent.label }}</li>

            {% elseif ent.tipo == 'DROPDOWN' %}
                <li class="c-sidebar-nav-item c-sidebar-nav-dropdown menuLateral-dropdown-pai" style="{{ ent.cssStyle != null ? ent.cssStyle : '' }};">
                    <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" style="white-space: normal" href="#">
                        <i class="c-sidebar-nav-icon {{ ent.icon }}"></i>
                        {{ ent.label }}
                    </a>


                    {% if ent.filhos is defined %}
                        <ul class="c-sidebar-nav-dropdown-items" style="background-color: black">
                            {% for filho in ent.filhos %}
                                {% if filho.tipo == 'ENT' %}
                                    <li class="c-sidebar-nav-item menuLateral-ent-filho"
                                        style="{{ filho.cssStyle != null ? filho.cssStyle : '' }};">
                                        <a class="c-sidebar-nav-link" style="font-size: small; white-space: normal"
                                           href="{{ filho.url is defined ? filho.url : '' }}">
                                            <i class="c-sidebar-nav-icon {{ filho.icon }}"></i>{{ filho.label }}</a></li>
                                {% elseif filho.tipo == 'hr' %}
                                    <li class="c-sidebar-nav-item" style="height: 10px; background-color: white">
                                        <hr/>
                                    </li>
                                {% elseif filho.tipo == 'LABEL' %}
                                    <li class="c-sidebar-nav-title">{{ filho.label }}</li>
                                {% elseif filho.tipo == 'DROPDOWN' %}
                                    <li class="c-sidebar-nav-item c-sidebar-nav-dropdown menuLateral-dropdown-filho"
                                        style="{{ filho.cssStyle != null ? filho.cssStyle : '' }};">
                                        <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" style="white-space: normal; font-size: small" href="#">
                                            <i class="c-sidebar-nav-icon {{ filho.icon }}"></i>
                                            {{ filho.label }}
                                        </a>
                                        {% if filho.filhos is defined %}
                                            <ul class="c-sidebar-nav-dropdown-items" style="background-color: black">
                                                {% for neto in filho.filhos %}
                                                    {% if neto.tipo == 'ENT' %}
                                                        <li class="c-sidebar-nav-item menuLateral-ent-neto"
                                                            style="{{ neto.cssStyle != null ? neto.cssStyle : '' }};">
                                                            <a class="c-sidebar-nav-link" style="font-size: smaller; white-space: normal"
                                                               href="{{ neto.url is defined ? neto.url : '' }}">
                                                                <i class="c-sidebar-nav-icon {{ neto.icon }}"></i>{{ neto.label }}
                                                            </a></li>
                                                    {% elseif neto.tipo == 'hr' %}
                                                        <li class="c-sidebar-nav-item"
                                                            style="height: 10px; background-color: white">
                                                            <hr/>
                                                        </li>
                                                    {% elseif neto.tipo == 'LABEL' %}
                                                        <li class="c-sidebar-nav-title">{{ neto.label }}</li>
                                                    {% endif %}
                                                {% endfor %}
                                                <li class="c-sidebar-nav-item"
                                                    style="background-color: white; height: 1px"></li>

                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                            <li class="c-sidebar-nav-item" style="background-color: white; height: 1px"></li>
                        </ul>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}

    </ul>

    <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-minimized"></button>
</div>

