<div class="sidebar sidebar-dark sidebar-fixed menuLateral" id="sidebar" style="z-index: 990">

    <div class="sidebar-brand d-none d-md-flex">
        <a class="sidebar-brand-full" href="{{ getEnv('CROSIERCORE_URL') }}">
            <img src="{{ getEnv('CROSIER_LOGO') }}" height="36">
        </a>
        <a class="sidebar-brand-narrow" href="{{ getEnv('CROSIERCORE_URL') }}">
            <img src="{{ getEnv('CROSIER_LOGO_PEQ') }}" width="36">
        </a>
    </div>

    <ul class="sidebar-nav" data-coreui="navigation" data-simplebar>


        {% for ent in menu %}

            {% if ent.tipo == 'ENT' %}

                <li class="nav-item menuLateral-ent-pai"
                    style="{{ ent.cssStyle != null ? ent.cssStyle : '' }};">
                    <a class="nav-link" href="{{ ent.url is defined ? ent.url : '' }}"
                       style="white-space: normal">
                        <i class="nav-icon {{ ent.icon }}"></i>{{ ent.label }}</a></li>

            {% elseif ent.tipo == 'hr' %}

                <li class="nav-item" style="height: 10px; background-color: white">
                    <hr/>
                </li>

            {% elseif ent.tipo == 'TITLE' %}

                <li class="nav-title"
                    style="margin-top: 0; padding: 0.3rem 0.3rem 0.3rem 1rem; {{ ent.cssStyle != null ? ent.cssStyle : '' }}">
                    {{ ent.label }}
                </li>

            {% elseif ent.tipo == 'DROPDOWN' %}


                <li class="nav-group menuLateral-dropdown-pai"
                    style="{{ ent.cssStyle != null ? ent.cssStyle : '' }};" aria-expanded="true">

                    <a class="nav-link nav-group-toggle" style="white-space: normal" href="#">
                        <i class="nav-icon {{ ent.icon }}"></i>
                        {{ ent.label }}
                    </a>

                    {% if ent.filhos is defined %}

                        <ul class="nav-group-items" style="height: auto">

                            {% for filho in ent.filhos %}

                                {% if filho.tipo == 'ENT' %}
                                    <li class="nav-item menuLateral-ent-filho"
                                        style="{{ filho.cssStyle != null ? filho.cssStyle : '' }};">
                                        <a class="nav-link"
                                           style="font-size: small; white-space: normal"
                                           href="{{ filho.url is defined ? filho.url : '' }}">
                                            <i class="nav-icon {{ filho.icon }}"></i>{{ filho.label }}
                                        </a></li>

                                {% elseif filho.tipo == 'hr' %}
                                    <li class="nav-item"
                                        style="height: 10px; background-color: white">
                                        <hr/>
                                    </li>
                                {% elseif filho.tipo == 'LABEL' %}
                                    <li class="nav-title">{{ filho.label }}</li>
                                {% elseif filho.tipo == 'DROPDOWN' %}
                                    <li class="nav-item nav-group menuLateral-dropdown-filho"
                                        style="{{ filho.cssStyle != null ? filho.cssStyle : '' }};">
                                        <a class="nav-link nav-group-toggle"
                                           style="white-space: normal; font-size: small" href="#">
                                            <i class="nav-icon {{ filho.icon }}"></i>
                                            {{ filho.label }}
                                        </a>
                                        {% if filho.filhos is defined %}
                                            <ul class="nav-group-items">
                                                {% for neto in filho.filhos %}
                                                    {% if neto.tipo == 'ENT' %}
                                                        <li class="nav-item menuLateral-ent-neto"
                                                            style="{{ neto.cssStyle != null ? neto.cssStyle : '' }};">
                                                            <a class="nav-link"
                                                               style="font-size: smaller; white-space: normal"
                                                               href="{{ neto.url is defined ? neto.url : '' }}">
                                                                <i class="nav-icon {{ neto.icon }}"></i>{{ neto.label }}
                                                            </a></li>
                                                    {% elseif neto.tipo == 'hr' %}
                                                        <li class="nav-item"
                                                            style="height: 10px; background-color: white">
                                                            <hr/>
                                                        </li>
                                                    {% elseif neto.tipo == 'LABEL' %}
                                                        <li class="nav-title">{{ neto.label }}</li>
                                                    {% endif %}
                                                {% endfor %}
                                                <li class="nav-item"
                                                    style="background-color: white; height: 1px"></li>

                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endif %}

                            {% endfor %}

                        </ul>

                    {% endif %}

                </li>


            {% endif %}

        {% endfor %}


    </ul>
    <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
</div>

    

